<?xml version="1.0"?>
<?mso-application progid="Excel.Sheet"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html5"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Styles>
    <Style ss:ID="Default" ss:Name="Normal">
      <Alignment ss:Vertical="Bottom"/>
       <Borders/>
       <Font/>
       <Interior/>
       <NumberFormat/>
       <Protection/>
    </Style>
    <Style ss:ID="Bold">
      <Font ss:Bold="1" />
    </Style>
    <Style ss:ID="Fixed">
      <NumberFormat ss:Format="#,##0.00" />
    </Style>
  </Styles>
  <Worksheet ss:Name="Артикулы">
    <Table>
      <Row ss:StyleID="Bold">
        <Cell><Data ss:Type="String">Название</Data></Cell>
        <Cell><Data ss:Type="String">Цена / шт.</Data></Cell>
        <Cell><Data ss:Type="String">Количество</Data></Cell>
        <Cell><Data ss:Type="String">Итого</Data></Cell>
      </Row>
      <% skus.each_with_index do |sku| %>
        <Row>
          <Cell><Data ss:Type="String"><%= sku.compiled_title(cart, series_id) %></Data></Cell>
          <Cell ss:StyleID="Fixed"><Data ss:Type="Number"><%= sku.price_per_unit(cart, series_id) %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= sku.amount_in_cart(cart) %></Data></Cell>
          <Cell ss:StyleID="Fixed" ss:Formula="=RC[-2]*RC[-1]"><Data ss:Type="Number" /></Cell>
        </Row>
      <% end %>
      <Row><Cell></Cell></Row>
      <Row>
        <Cell ss:StyleID="Bold"><Data ss:Type="String">Итого:</Data></Cell>
        <Cell><Data/></Cell>
        <Cell><Data/></Cell>
        <Cell ss:StyleID="Fixed" ss:Formula="=SUM(R2C:R[-2]C)"><Data ss:Type="Number"></Data></Cell>
      </Row>
    </Table>
  </Worksheet>
</Workbook>